body {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    background-image: url(background.jpg);
    background-size:cover;
    background-position: center;
    color: white; /* тут ще подумаю*/
    text-align: center;
    background-attachment: fixed;
}
p {
    text-align: justify;
    font-size: 18px;
    font-family: Arial, sans-serif;
}



.menu {
    background: rgba(50, 50, 50, 0.9); /* Темний прозорий фон */
    width: 100%; /* Робимо меню на всю ширину */
    padding: 10px 0;
    position: fixed; /* Закріплюємо меню внизу */
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.menu ul {
    display: flex;
    justify-content: center; /* Центруємо кнопки */
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu a {
    color: #1ca3ec; /* Неоновий синій */
    display: block;
    border-right: 1px solid #151718;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Geneva, Verdana, Sans-Serif;
    text-decoration: none;
    padding: 15px 20px;
}

.menu a:hover {
    background: #1ca3ec;
    color: black;
    box-shadow: 0 0 10px #1ca3ec;
}

header {
    background: rgba(50, 50, 50, 0.7); /* Напівпрозорий сірий */
    backdrop-filter: blur(10px); /* Розмиття заднього фону */
    padding: 30px;
    text-align: center;
  
}

h1 {
    
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(45deg, #1ca3ec, #5a2ca0);
    background-clip: text;
    color: transparent;
}

input {
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #4A90E2;
    background-color: #f1f9ff;
    color: #333;
    font-size: 16px;
    outline: none;
    transition: all 0.3sease;
}
main {
    padding-bottom: 80px; /* Відступ, щоб футер не перекривав контент */
}



.section {
    display: none;  
    padding: 20px;
    background-color: #10182F;
    line-height: 1.6;
    max-width: 960px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
    color: #fff;

   
}

 
#home:target, #ship:target, #missions:target, #journeys:target {
    display: block;
    padding: 20px;
    background-color: #10182F;
    line-height: 2.0;
    max-width: 960px;
    color: #fff;
}

#home p{
    padding-bottom: 3%;
    text-indent: 30px;
    font-family: "Open-Sans";
    
}

/*Корабель зроблю під Flexible окремо*/
          


:target:not(#home) ~ #home {
    display: block;
    background-color: #10182F;
}


body:not(:has(:target)) #home {
    display: block;
    background-color: #10182F;

}

.controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    /*Увага сумнівні властивості. Перегляту ще раз 
    на сумісність*/
    width: 100%;
    max-width: 700px;

}

/*Від цих параметрів ефекту поки що я не бачу*/
.сontrols label {
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    cursor:pointer;
    
}


/*Властивості кнопок-вибору*/
 input[type="radio"]{
    accent-color:#00AEEF;
    transform:scale(1.3);
    cursor: pointer; /* Додаємо курсор для інтерактивності */
  /*  margin-right: 5px; /* Робимо відступ перед текстом */
}





footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #222;
    padding: 10px;
    border-top: 2px solid #444;
}

footer p{
    text-align: center;
}


